
extends templates/base.pug

block content
    div.wrestler-profile
        p= `Name: ${name} (ID-${id})`
        p= `Age: ${age}`
        if (weight > 0)
            p= `Weight: ${weight}`
        if (workouts.length)
            p= `Workouts: ${workouts.length}`
            ul
                each workout in workouts
                    //- li= JSON.stringify(workout)
                    li: a(href=id+'/workouts/'+workout.id)= `#${workout.id} - [${workout.date.toLocaleString()}]`
        else
            p No workouts found..
            button(href='#') Add New Workout

