html
    head
        title= title
        link(rel='stylesheet' href='/base.css')
    body
        h1= header
        p Workouts
        table
            tr
                th Name
                th ID #
                th # Workouts
            each wrestler in wrestlers
                tr
                    td= wrestler.name
                    td= wrestler.id
                    td= wrestler.workouts.length
